services:
  # backend-api:
  #   container_name: back-api
  #   build:
  #     context: ./backend/Warehouse.Api
  #     dockerfile: Dockerfile
  #   ports:
  #     - 4000:8080
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 512m
  #         cpus: '0.1'

  # frontend:
  #   container_name: front
  #   build:
  #     context: ./frontend
  #     dockerfile: Dockerfile
  #   ports:
  #     - 3000:3000
  #   deploy:
  #     resources:
  #       limits:
  #         memory: 512m
  #         cpus: '0.15'
  
  db:
    container_name: warehouse-db
    image: postgres:latest
    networks:
      - app-network
    # ports:
    #   - "15432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: postgres
      #PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    #   - ./pgdata:/var/lib/postgresql/data/pgdata
    
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U admin -d postgres" ]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true

networks:
  app-network:
    name: app-network
    driver: bridge

